<tr>
  <td></td>
  <td>
    <%= form_for work, :url => {action: :destroy, id: work.id}, html: {class: 'delete_work'}, method: 'delete' do |f| %>
      <%= f.submit 'Delete Work' %>
    <% end %>
  </td>
</tr>
