<% @title = 'Create a New Work' %>
<div class='well'>
  <h4 class='form-title'>New Work</h4>
  <%= form_for( @work, :url => {action: :create}, :html => { :multipart => true, class: 'form-horizontal' }) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>
