<% @title = 'Manage About Paragraphs' %>
<div class='well'>
  <h4 class='form-title'>Edit About Text</h4>
  <%= form_for( @paragraph, :url => {action: :update}, html:{role: "form", class: "form-horizontal"} ) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>
