// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 830px;
}

.header_images {
  margin-top: 80px;
  #seal {
    padding-bottom: 15px;
    padding-right: 40px;
  }
}

#navigator {
  margin-top: 20px;
  margin-bottom: 20px;
  li {
    width: 100px;
  }
}

.footer {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 12px;
}

body,
.index-social .social-buttons
{
  text-align: center;
  font-size: 13px;
}

.social-buttons {
  line-height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* in public#show page */
.work-header {
  #work-name {
    font-weight: bold;
    font-size: 13px;
  }
  #work-description {
    white-space: pre ;
  }
}


.links {
  vertical-align: middle;
  .process-links {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .process-link .btn-sm {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.work-image {
  max-width: 800px;
  width: 100%;
}
/* end public#show page */

/* public#about */
#about-text {
  padding: 20px;
  line-height: 20px;
  text-indent: 40px;
  text-align: justify;
  white-space: pre-line;
}

/* public#contact */
#contact-list {
  padding: 20px;
}
