// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 830px;
}

.social-buttons {
  line-height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.index-social .social-buttons {
  text-align: center;
}

.work-cell {
  text-align: center;
}

h2.work-name {
  font-size: 16px;
  text-align: center;
}

.navbar-static-top {
  min-height: 80px;
}

.navbar-text {
  font-size: 38px;
}

.navbar-nav li a {
 line-height: 50px;
}

#about-image, #contact-image, .work-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  padding: 20px;
  line-height: 20px;
}

#contact-list {
  text-align: center;
  padding: 20px;
}

pre.work-description {
  font-family: inherit;
  /*text-align: left;*/
  border: dotted thin;
  background-color: transparent;
  margin: 15px;
}

.process-links {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links {
  vertical-align: middle;
}

.process-link .btn-sm {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 12px;
  text-align: center;
}


.header_img {
  margin-top: 80px;
  text-align: center;
}

#seal {
  padding-bottom: 15px;
  padding-right: 40px;
}


#navigator {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  button {
    font-weight: bold;
    font-style: italic;
  }
}

.work-image {
  width: 100%;
}

