<% if controller.action_name == 'show' %>
  <div class="process_link" id="process_link"><%= link_to 'view process pictures', action: :show_process %></div>
<% else %>
  <div class="process_link" id="finished_link"><%= link_to 'view finished pictures', action: :show %></div>
<% end %>
