  <div class='process-links'>
    <% if controller.action_name == 'show' %>
      <% if @process_picture_count > 0 %>
        <div class="process-link"><%= link_to 'Process Pictures', {action: :show_process}, class: 'btn btn-sm btn-primary' %></div>
      <% end %>
    <% else %>
      <div class="finished-link"><%= link_to 'Finished Pictures', {action: :show}, class: 'btn btn-sm btn-primary' %></div>
    <% end %>
  </div>
