<% @title = 'About Moyu Zhang' %>
<div class=''>
  <div class='row' >
    <%= image_tag "moyuzhang.jpg", alt: "moyuzhang", id: 'about-image' %>
  </div>
  <div class='row'>
      <% @paragraphs.each do |p| %>
        <p class='about-text col-xs-8 col-xs-offset-2'><%= p.paragraph %></p>
      <% end %>
  </div>
</div>
