<% @title = 'About Moyu Zhang' %>
<div class="content" id="about">
    <div id="about_img">
        <%= image_tag "moyuzhang.jpg", alt: "moyuzhang" %>
    </div>
    <div id="about_text">
      <% @paragraphs.each do |p| %>
        <p><%= p.paragraph %></p>
      <% end %>
    </div>
</div>
