<% @title = 'About Moyu Zhang' %>
<div class=''>
  <div class='row' >
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag "moyuzhang.jpg", alt: "moyuzhang", id: 'about-image', width: '100%' %>
      <p class="photo_credit">Photo credit: <a href="http://www.angelahall.com">Angela Hall</a> </p>
    </div>
  </div>
  <div class='row'>
    <p id="about-text" class='col-xs-8 col-xs-offset-2'><%= @paragraph.text %>
    
    This website was established as a means to create the vehicles for Moyu's ongoing pursuit as an artist, designer and maker. For daily updates and images of new work, follow along on <a href="http://www.instagram.com/moyu_zhang_design">instagram</a> </p>
  </div>
</div>
