<% @title = 'About Moyu Zhang' %>
<div class=''>
  <div class='row' >
    <%= image_tag "moyuzhang.jpg", alt: "moyuzhang", id: 'about-image' %>
  </div>
  <div class='row'>
    <p id="about-text" class='col-xs-8 col-xs-offset-2'><%= @paragraph.text %></p>
  </div>
</div>
