<% @title = 'Works' %>

  <div class='row index-social'><%= render partial: 'social_buttons' %></div>

  <div id='works' class='row'>
    <% @works.each do |work| %>
      <div class="work-cell col-md-4 col-xs-6">
        <h2 class='work-name'><%= work.name %></h2>
        <p>
        <%= link_to image_tag(work.thumbnail.url(:thumb), alt: "#{work.name} by Moyu Zhang", class:'work-thumb'),
          work_path(id: work.id) %>
      </p>
      </div>
    <% end %>
  </div>

  <div class='row index-social'><%= render partial: 'social_buttons' %></div>
