<div class="content" id="works">
  <% count = 0 %>
  <% @works.each do |work| %>
    <% if count % 3 == 0 %>
      <div class="works_row">
    <% end %>

    <div class="works_cell"><h2><%= work.name %></h2>
      <%= link_to image_tag(work.thumbnail.url(:thumb), alt: work.name), work_path(id: work.id)  %>
    </div>
    <% if count % 3 == 2 %>
      </div>
    <% end %>
    <% count += 1 %>
  <% end %>
  <% if count % 3 != 0 %>
    </div>
  <% end %>
</div>
